@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&display=swap');

/* Modules */
//@import 'photographer.scss';

// colors
$yellow: #FFD15B;
$light-black: #1B1B1B;
$black: #000000;
$white: #FFFFFF;
$grey: #7A7A7A;
$light-grey: rgba(198, 198, 198, 0.4);

// fonts
$title: 'Anton', sans-serif;
$text: 'Manrope', sans-serif;

// font-size
$size--12: 0.75rem; //12px
$size--14: 0.875rem; //14px
$size--16: 1rem; //16px
$size--18: 1.125rem; //18px
$size--21: 1.313rem; //21px
$size--44: 2.75rem; //44px

//font-weight
$bold: 700;
$medium: 500;
$regular: 400;
$thin: 300;

//background-image
$image-bg: '../../img/bg1.jpg';

* {
  margin: 0;
}

h1 {
  font-family: $title;
  font-size: $size--44;
  font-weight: $regular;
  color: $yellow;
}

.header {
  background-image: url($image-bg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  &__home {
    &__logo {
      margin: 4rem 0 13rem 6rem;
      width: 10%;
      height: auto;
    }
  }
  &__title {
    text-align: center;
    margin: 0 0 3rem 0;
  }
  &__search {
    display: flex;
    border-radius: 11px;
    width: 60%;
    height: 4.5rem;
    background-color: $white;
    justify-content: center;
    align-self: center;
    &__bar {
      margin-left: 1rem;
      border: none;
      width: 100%;
      border-radius: 11px;
      font-family: $text;
      font-size: $size--16;
      font-weight: $regular;
      color: $grey;
    }
    &__container {
      display: flex;
      width: 54px;
      height: 50px;
      background-color: $light-black;
      border-radius: 10px;
      align-self: center;
      margin-right: 0.8rem;
      justify-content: center;
      align-items: center;
      &__glass {
        color: $white;
        width: 29px;
        height: 30px;
      }
    }
  }
}

.sort {
  background-color: $light-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem 3rem 6rem;
  &__filter {
    &__categories {
      margin-right: 3rem;
      padding: 0 1rem 0 1rem;
      border: none;
      border-radius: 11px;
      background-color: $white;
      width: 12rem;
      height: 3.5rem;
      font-family: $text;
      font-size: $size--16;
      font-weight: $medium;
      color: black;
    }
  }
  &__counter {
    text-align: center;
    font-family: $title;
    font-size: $size--21;
    font-weight: $regular;
  }
}

.hero {
  background-color: $light-grey;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  height: 100%;
  justify-content: center;
  padding-bottom: 4rem;
  &__container {
    background-color: $white;
    border-radius: 21px;
    width: 24rem;
    height: 45rem;
    box-shadow: 0 4px 34px 30px rgba(0, 0, 0, 0.04);
    //transition: 200ms ease-in-out;
    //&:hover {
    //  transform: scale(1.03);
    //}
    &__img {
      width: 100%;
      height: 16rem;
      &__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 21px 21px 0 0;
      }
    }
    &__recipe {
      position: absolute;
      margin: 0 1rem 2rem 1rem;
      &__time {
        z-index: 1;
        position: relative;
        top: -15rem;
        left: 18rem;
        color: $black;
        font-family: $text;
        font-size: $size--12;
        font-weight: $regular;
        background-color: $yellow;
        border-radius: 14px;
        width: 4rem;
        height: 1.6rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__title {
        font-family: $title;
        font-size: $size--18;
        font-weight: $regular;
        margin-bottom: 2rem;
      }
      &__step {
        width: 100%;
        height: auto;
        &__title {
          font-family: $text;
          font-size: $size--12;
          font-weight: $bold;
          color: $grey;
          text-transform: uppercase;
          letter-spacing: 0.15rem;
        }
        &__cook {
          width: 22rem;
          height: 5rem;
          margin: 1rem 0 1rem 0;
          font-family: $text;
          font-size: $size--14;
          font-weight: $regular;
          color: $black;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      &__element {
        &__title {
          font-family: $text;
          font-size: $size--12;
          font-weight: $bold;
          color: $grey;
          text-transform: uppercase;
          letter-spacing: 0.15rem;
        }
        &__list {
          padding: 0;
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: auto auto auto;
          grid-gap: 1.8rem;
          margin-top: 1rem;
          width: 22rem;
          &__ingredient {
            list-style-type: none;
            font-family: $text;
            font-size: $size--14;
            font-weight: $medium;
            color: $black;
            text-align: left;
            &__quantity {
              font-family: $text;
              font-size: $size--14;
              font-weight: $regular;
              color: $grey;
              text-align: left;
            }
          }
        }
      }
    }
  }
}