@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&display=swap");
/* Modules */
* {
  margin: 0;
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 2.75rem;
  font-weight: 400;
  color: #FFD15B;
}

.header {
  background-image: url("../images/bg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
}
.header__home__logo {
  margin: 4rem 0 13rem 6rem;
  width: 10%;
  height: auto;
}
.header__title {
  text-align: center;
  margin: 0 0 3rem 0;
}
.header__search {
  display: flex;
  border-radius: 11px;
  width: 60%;
  height: 4.5rem;
  background-color: #FFFFFF;
  justify-content: center;
  align-self: center;
}
.header__search__bar {
  margin-left: 1rem;
  border: none;
  width: 100%;
  border-radius: 11px;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(122, 122, 122);
}
.header__search__bar:focus {
  outline: none;
}
.header__search__container {
  display: flex;
  width: 54px;
  height: 50px;
  background-color: #1B1B1B;
  border-radius: 10px;
  align-self: center;
  margin-right: 0.8rem;
  justify-content: center;
  align-items: center;
}
.header__search__container__glass {
  color: #FFFFFF;
  width: 29px;
  height: 30px;
}

.sort {
  background-color: rgba(198, 198, 198, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem 3rem 6rem;
}
.sort__filter {
  display: flex;
  align-items: center;
}
.sort__filter__categories {
  margin-right: 3rem;
  padding: 0 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 11px;
  background-color: #FFFFFF;
  width: 10rem;
  height: 3.5rem;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  cursor: pointer;
}
.sort__filter__categories__arrow {
  align-self: center;
  font-size: 1rem;
  margin-right: 0.2rem;
  transition: transform 0.25s ease;
}
.sort__filter__categories .sort__filter__categories__arrow__up {
  transform: rotate(180deg); /* Rotation de 180 degrés */
}
.sort__counter {
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 1.313rem;
  font-weight: 400;
}

#ingredients-choice, #appliance-choice, #ustensil-choice {
  display: none;
}
#ingredients-choice.open, #appliance-choice.open, #ustensil-choice.open {
  display: block;
}

.choices .ingredient {
  position: absolute;
  top: 54rem;
  left: 6rem;
  z-index: 2;
  width: 12rem;
  min-height: 8rem;
  max-height: 15rem;
  border-radius: 0 0 11px 11px;
  background-color: #FFFFFF;
  color: #1B1B1B;
  font-family: "Manrope", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}
.choices .appliance {
  position: absolute;
  top: 54rem;
  left: 21rem;
  z-index: 2;
  width: 12rem;
  min-height: 8rem;
  max-height: 15rem;
  border-radius: 0 0 11px 11px;
  background-color: #FFFFFF;
  color: #1B1B1B;
  font-family: "Manrope", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}
.choices .ustensil {
  position: absolute;
  top: 54rem;
  left: 36rem;
  z-index: 2;
  width: 12rem;
  min-height: 8rem;
  max-height: 15rem;
  border-radius: 0 0 11px 11px;
  background-color: #FFFFFF;
  color: #1B1B1B;
  font-family: "Manrope", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.search-mini {
  display: flex;
  margin: 0 1rem 1rem 1rem;
  width: 80%;
  height: 2rem;
  justify-content: center;
  align-self: center;
  border: 1px solid #c6c6c6;
}
.search-mini__bar {
  border: none;
  width: 100%;
  margin-left: 0.2rem;
  font-family: "Manrope", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: rgb(122, 122, 122);
}
.search-mini__bar:focus {
  outline: none;
}
.search-mini__glass {
  align-self: center;
  font-size: 0.8rem;
  font-weight: 100;
  color: rgb(122, 122, 122);
  letter-spacing: 0.2rem;
  margin-right: 0.2rem;
}
.search-mini__cross {
  align-self: center;
  font-size: 0.6rem;
  font-weight: 100;
  color: rgb(122, 122, 122);
  letter-spacing: 0.2rem;
  margin-right: 0.2rem;
}
.search-mini__result {
  width: 100%;
  max-height: 12rem;
  text-overflow: ellipsis;
  overflow: auto;
}
.search-mini__result__choices {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #1B1B1B;
  margin: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
}

.yellow-choice {
  background-color: #FFD15B;
  font-weight: 700;
  width: 82%;
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag {
  background-color: rgba(198, 198, 198, 0.4);
  padding: 0 6rem 3rem 6rem;
  font-family: "Manrope", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.tag__box {
  background-color: #FFD15B;
  margin: 1rem 1rem 1rem 0;
  padding: 0 1rem 0 1rem;
  width: 10rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
.tag__box__cross {
  align-self: center;
  font-size: 0.8rem;
  color: #000000;
}

.hero {
  background-color: rgba(198, 198, 198, 0.4);
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  height: 100%;
  justify-content: center;
  padding: 0 6rem 4rem 6rem;
}
.hero__container {
  background-color: #FFFFFF;
  border-radius: 21px;
  width: 24rem;
  height: 45rem;
  box-shadow: 0 4px 34px 30px rgba(0, 0, 0, 0.04);
}
.hero__container__img {
  width: 100%;
  height: 16rem;
}
.hero__container__img__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 21px 21px 0 0;
}
.hero__container__recipe {
  position: absolute;
  margin: 0 1rem 2rem 1rem;
}
.hero__container__recipe__time {
  z-index: 1;
  position: relative;
  top: -15rem;
  left: 18rem;
  color: #000000;
  font-family: "Manrope", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  background-color: #FFD15B;
  border-radius: 14px;
  width: 4rem;
  height: 1.6rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__container__recipe__title {
  font-family: "Anton", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.hero__container__recipe__step {
  width: 100%;
  height: auto;
}
.hero__container__recipe__step__title {
  font-family: "Manrope", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  color: rgb(122, 122, 122);
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.hero__container__recipe__step__cook {
  width: 22rem;
  height: 5rem;
  margin: 1rem 0 1rem 0;
  font-family: "Manrope", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #000000;
  text-overflow: ellipsis;
  overflow: hidden;
}
.hero__container__recipe__element__title {
  font-family: "Manrope", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  color: rgb(122, 122, 122);
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  padding: 10px;
}
.hero__container__recipe__element__list {
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 1.8rem;
  margin-top: 1rem;
  width: 22rem;
}
.hero__container__recipe__element__list__ingredient {
  list-style-type: none;
  font-family: "Manrope", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: #000000;
  text-align: left;
}
.hero__container__recipe__element__list__ingredient__quantity {
  font-family: "Manrope", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: rgb(122, 122, 122);
  text-align: left;
}
